* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fcfdfd;
    color: #3f3f3f;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 200px;
    text-rendering: optimizeLegibility;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

header {
    padding: 20px;
    margin: 0 auto;
    display: inline-block;
    position: absolute;
    text-align: center;
        visibility: hidden;

}

.banner {
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 40vh;
}